:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.action-button{
  padding: 10px;
  background-color: #594545;
  color: white;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}
.container{
  margin: auto;
}
body{
  background-color: #FFF8EA;
  margin: 10px;
}
.header{
  margin: auto;
}