:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.action-button{
  padding: 10px;
  background-color: #B19470;
  color: white;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}
.container{
  margin-top: 15px;
  margin: auto;
}
.title{
  color: white;
}
body{
  background-color: #FFF8EA;
}
.header{
  background-color: #B19470;
  display: inline-flex;
  width: 100%;
}
.action-button:hover {
  background-color: #76453B;
}
.main-body {
  margin-top: 20px; /* Adjust this value as needed */
}